input:hover {
  background-color: black;
  color: white;
}

.button {
  padding: 15px;
  font-size: 2em;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  background-color: black;
  color: white;
}
